.coverage
.env
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/encodings.xml
.idea/**/pylint.xml
.idea/sonarlint/*
.mypy_cache
__pycache__/
csvconverttable/*
!csvconverttable/.gitkeep
csvinput/*
!csvinput/.gitkeep
csvoutput/*
!csvoutput/.gitkeep
config.yml
config.yml.bak
**/csvoutput/*
!**/csvoutput/.gitkeep