.coverage
.env
.idea
.mypy_cache
.venv
__pycache__/
csvconverttable/*
!csvconverttable/.gitkeep
csvinput/*
!csvinput/.gitkeep
csvoutput/*
!csvoutput/.gitkeep
config.yml
config.yml.bak
coverage.xml
htmlcov
**/csvoutput/*
!**/csvoutput/.gitkeep