[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# To collect error when validate input record
errorcollector = "*"
# To read Kami CSV
godslayer = "*"
# To generate table name by model class name
inflector = "*"
# To uniquify undefined content errors
numpy = "*"
# To manage stores and items by database (now using SQLite)
sqlalchemy = "*"
# To read yaml file as config
yamldataclassconfig = "*"

[dev-packages]
coverage = "*"
factory_boy = "*"
fixturefilehandler = "*"
flake8 = "*"
# To use flake8 --radon-show-closures
flake8-polyfill = "*"
invoke = "*"
isort = "*"
mypy = "*"
# To use black
pipenv-setup = "*"
pylint = "*"
pytest = "*"
pytest-resource-path = "*"
radon = "*"
xenon = "*"

[scripts]
start = "python convert.py"
test = "pytest tests"
flake8 = "flake8 --radon-show-closures ."
cc = "radon cc ."
mi = "radon mi ."
