[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# To generate table name by model class name
inflector = "*"
# To uniquify undefined content errors
numpy = "*"
# To manage stores and items by database (now using SQLite)
sqlalchemy = "*"
# To read yaml file as config
yamldataclassconfig = "*"

[dev-packages]
factory_boy = "*"
fixturefilehandler = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
radon = "*"

[scripts]
start = "python convert.py"
test = "pytest tests"
coverage = "pytest --verbose --cov=errorcollector --cov=godslayer --cov=zaimcsvconverter --cov-report=term-missing tests"
coverage_xml = "pytest --cov-report xml --cov=errorcollector --cov=godslayer --cov=zaimcsvconverter --cov-report=term-missing tests"
flake8 = "flake8 --max-line-length=120 --statistics --show-source --radon-show-closures ."
cc = "radon cc --show-complexity --min B ."
mi = "radon mi --show ."
